In [188]:
import os 
import pandas as pd
import re 
import boto3

In [189]:
all_data = pd.DataFrame()

for data in os.listdir(f'{os.getcwd()}/Hotels Information'):
    all_data = pd.concat([all_data, pd.read_csv(f'./Hotels Information/{data}')], ignore_index=True)

#all_data.fillna('Click Booking Link for More Info', inplace=True)

all_data.to_csv('All Hotels Information.csv')

all_data.head(5)

,City,Hotel Name,Hotel Address,Average Rating,Number of Reviews,Cost of Stay,Provider
0,Toronto,One King West Hotel & Residence,"1 King Street West, Toronto, ON M5H 1A1",8.8,"(5,378)",£449total,Expedia
1,Toronto,"The Westin Harbour Castle, Toronto","1 Harbour Square, Toronto, ON M5J 1A6",8.3,"(2,929)",£542total,Expedia
2,Toronto,Radisson Blu Toronto Downtown,"249 Queens Quay West, Toronto, ON M5J 2N5",8.6,"(1,253)",£449total,Booking.com
3,Toronto,Unique Above Garage Loft,West End,9.1,(11),£442total,Booking.com
4,Toronto,DoubleTree by Hilton Toronto Downtown,"108 Chestnut Street, Toronto, ON M5G 1R3",7.8,"(3,143)",£379total,Expedia

In [190]:
all_data['Number of Reviews'] = all_data['Number of Reviews'].str[1:-1]

In [191]:
all_data['Number of Reviews'] = all_data['Number of Reviews'].str.replace(',','')

all_data.head(5)

,City,Hotel Name,Hotel Address,Average Rating,Number of Reviews,Cost of Stay,Provider
0,Toronto,One King West Hotel & Residence,"1 King Street West, Toronto, ON M5H 1A1",8.8,5378,£449total,Expedia
1,Toronto,"The Westin Harbour Castle, Toronto","1 Harbour Square, Toronto, ON M5J 1A6",8.3,2929,£542total,Expedia
2,Toronto,Radisson Blu Toronto Downtown,"249 Queens Quay West, Toronto, ON M5J 2N5",8.6,1253,£449total,Booking.com
3,Toronto,Unique Above Garage Loft,West End,9.1,11,£442total,Booking.com
4,Toronto,DoubleTree by Hilton Toronto Downtown,"108 Chestnut Street, Toronto, ON M5G 1R3",7.8,3143,£379total,Expedia

In [192]:
all_data['Number of Reviews'] = pd.to_numeric(all_data['Number of Reviews'])  

all_data.head(20)

,City,Hotel Name,Hotel Address,Average Rating,Number of Reviews,Cost of Stay,Provider
0,Toronto,One King West Hotel & Residence,"1 King Street West, Toronto, ON M5H 1A1",8.8,5378.0,£449total,Expedia
1,Toronto,"The Westin Harbour Castle, Toronto","1 Harbour Square, Toronto, ON M5J 1A6",8.3,2929.0,£542total,Expedia
2,Toronto,Radisson Blu Toronto Downtown,"249 Queens Quay West, Toronto, ON M5J 2N5",8.6,1253.0,£449total,Booking.com
3,Toronto,Unique Above Garage Loft,West End,9.1,11.0,£442total,Booking.com
4,Toronto,DoubleTree by Hilton Toronto Downtown,"108 Chestnut Street, Toronto, ON M5G 1R3",7.8,3143.0,£379total,Expedia
5,Toronto,Sheraton Toronto Airport Hotel & Conference Ce...,"801 Dixon Road, Toronto, ON M9W 1J5",8.4,273.0,£344total,Expedia
6,Toronto,Life Suites Loft - Cn Tower,Downtown,7.5,390.0,£446total,Booking.com
7,Toronto,"Chelsea Hotel, Toronto","33 Gerrard Street West, Toronto, ON M5G 1Z4",7.7,5492.0,£345total,Expedia
8,Toronto,Sheraton Centre Toronto Hotel,"123 Queen Street West, Toronto, ON M5H 2M9",8.7,1821.0,£545total,Booking.com
9,Toronto,Simply Comfort - Dundurn Lofts,Downtown,8.2,264.0,£559total,Booking.com
10,Dubai,Five Jumeirah Village Dubai,"District 14, Street 1 Jumeirah Village Circle,...",8.9,24394.0,£603total,Booking.com
11,Dubai,Five Palm Jumeirah Dubai,"No. 1 The Palm, Dubai",8.9,15756.0,"£1,447total",Booking.com
12,Dubai,Park Regis Kris Kin Hotel Dubai,8264 Sheikh Khalifah Bin Zayed ST. Opp Burjuma...,8.2,3490.0,£353total,Expedia
13,Dubai,Elite Residence Dubai Marina,NaN,9.0,6.0,£590total,Booking.com
14,Dubai,Hilton Dubai Al Habtoor City,"Al Habtoor City, Sheikh Zayed Road, Dubai",8.1,1679.0,£574total,Booking.com
15,Dubai,Taj Dubai,"Downtown Burj Khalifa Street, Dubai",9.0,5308.0,"£1,059total",Booking.com
16,Dubai,Maison Privee - Burj Residence,Downtown Dubai,7.8,26.0,"£1,157total",Expedia
17,Dubai,Atlantis The Palm,"1 Crescent Road, Dubai 211222",8.8,16339.0,"£1,625total",Booking.com
18,Dubai,Dusit Thani Dubai,"133 Sheikh Zayed Road, Dubai",8.3,5921.0,£824total,Expedia
19,Dubai,Luton Vacation Homes Grandeur Residence,NaN,9.0,3.0,"£1,313total",Expedia

In [193]:
all_data['Number of Reviews'] = all_data['Number of Reviews'].astype('Int64')

all_data.head()

,City,Hotel Name,Hotel Address,Average Rating,Number of Reviews,Cost of Stay,Provider
0,Toronto,One King West Hotel & Residence,"1 King Street West, Toronto, ON M5H 1A1",8.8,5378,£449total,Expedia
1,Toronto,"The Westin Harbour Castle, Toronto","1 Harbour Square, Toronto, ON M5J 1A6",8.3,2929,£542total,Expedia
2,Toronto,Radisson Blu Toronto Downtown,"249 Queens Quay West, Toronto, ON M5J 2N5",8.6,1253,£449total,Booking.com
3,Toronto,Unique Above Garage Loft,West End,9.1,11,£442total,Booking.com
4,Toronto,DoubleTree by Hilton Toronto Downtown,"108 Chestnut Street, Toronto, ON M5G 1R3",7.8,3143,£379total,Expedia

In [194]:
#all_data['Cost of Stay'] = all_data['Cost of Stay'].astype(str)

all_data.dtypes

City                  object
Hotel Name            object
Hotel Address         object
Average Rating       float64
Number of Reviews      Int64
Cost of Stay          object
Provider              object
dtype: object

In [199]:
pattern = r'[0-9]+,?[0-9]+'

value = re.compile(pattern)

a = '£1,350total'

matches = value.search(a)

all_data['Cost of Stay'] = all_data['Cost of Stay'].apply(lambda cost: value.search(cost)[0])

all_data.head(5)

,City,Hotel Name,Hotel Address,Average Rating,Number of Reviews,Cost of Stay,Provider
0,Toronto,One King West Hotel & Residence,"1 King Street West, Toronto, ON M5H 1A1",8.8,5378,449,Expedia
1,Toronto,"The Westin Harbour Castle, Toronto","1 Harbour Square, Toronto, ON M5J 1A6",8.3,2929,542,Expedia
2,Toronto,Radisson Blu Toronto Downtown,"249 Queens Quay West, Toronto, ON M5J 2N5",8.6,1253,449,Booking.com
3,Toronto,Unique Above Garage Loft,West End,9.1,11,442,Booking.com
4,Toronto,DoubleTree by Hilton Toronto Downtown,"108 Chestnut Street, Toronto, ON M5G 1R3",7.8,3143,379,Expedia